html, body {
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

html {
  line-height: 1;
  font-size: 16px;
  font-family: Lato, sans-serif;
}

body {
  padding-top: 60px;
  background-color: #f3f6fa;
  width: 100%;
  margin: 0;
  padding-top: 53px;
  /*padding-bottom: 64px;*/
}

ol {
  list-style: none;
}

ul {
  list-style: none;
  padding:0px;
  margin:0px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

menu {
  display: block;
}

nav {
  display: block;
}

section {
  display: block;
}

summary {
  display: block;
}

main {
  display: block;
}

* {
  box-sizing: border-box;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 53px;
  width: 100%;
  background-color:#1a1a1a;
  z-index: 1;
}

.main {
  max-height: calc(100% - 7px);
  overflow-y: auto;
}

.channel-menu_name {
  padding: 0 0.5rem 0 1.5rem;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 900;
  line-height: 53px;
}

.channel-menu_prefix {
  color: #9e9ea6;
  padding-right: 0.1rem;
  font-weight: 500;
  position: absolute;
  max-height: 53px;
  overflow: hidden;
}

.message-history {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  margin:10px;
}

.unread {
  color: #ffffff;
  background: #eb4d5c;
  border-radius: 9px;
  padding: 2px 9px;
  font-size: 0.8rem;
  line-height: 14px;
  font-weight: 700;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  float: right;
}

.read {
  color: #ffffff;
  background: #4c9689;
  border-radius: 9px;
  padding: 2px 9px;
  font-size: 0.8rem;
  line-height: 14px;
  font-weight: 700;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  float: right;
}

.message {
  margin-top: 0.5rem;
  padding: 0.25rem 2rem 0.1rem 3rem;
  min-height: 36px;
}

.message_username {
  font-weight: 900;
  padding-right: 0.25rem;
  color: #1a1a1a !important;
  margin-left: 0;
  font-style: normal;
  text-decoration: none;
}

.message_timestamp {
  text-align: left;
  display: inline;
  color: #babbbf;
  font-size: 12px;
  line-height: 1.2rem;
  width: 36px;
  margin-right: 0;
  margin-left: 0;
}

.message_content {
  color: #3f3e42;
  font-style: italic;
  display: block;
  min-height: 1rem;
}

.message_content a{
  color: #005596;
}

.message_content a:hover, .message_content a:focus{
  color: #0065b3;
}

.user-menu {
  float: left;
  width: 220px;
  height: 100%;
  cursor: pointer;
  background: #383838;
  border-top: 1px solid #d9d9d9;
  padding: 7px 0 9px 8px;
  height: 4rem;
  position: fixed;
  bottom: 0;
  left: 0;
}

.user-menu_profile-pic {
  display: inline-block;
  float: left;
  border-radius: 0.2rem;
  width: 48px;
  height: 48px;
  background-image: url(http://findicons.com/icon/download/102283/fh02/300/png);
  background-size: cover;
  margin-right: 8px;
}

.user-menu_username {
  display: block;
  color: #ffffff;
  font-weight: 900;
  line-height: 1.5rem;
  margin-top: 0.2rem;
  max-width: 120px;
}

.connection_icon {
  width: 12px;
  height: 12px;
}

.connection_status {
  color: #d9d9d9;
}

.footer{
    background-color: #1a1a1a;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 15px 0px 15px 15px;
}

.input-box {
  height: 100%;
  max-width:100%;
}

.input-box_text {
  font-size: 0.95rem;
  max-width: 100%;
  width:100%;
  line-height: 1.2rem;
  border: 2px solid #e0e0e0;
  border-radius: 0.2rem;
  color: #3d3c40;
  padding: 9px 5px 9px 8px;
}

/*
 *  Bootstrap Overrides
 */
a {
  color: white;
  text-decoration: none;
}
a:hover, a:focus {
    color: white;
}

/*
 *  Forms and Input
 */
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-group {
    margin-bottom: 15px;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    color: inherit;
}

.btn{
	border: 0px solid white;
    border-radius: 0.2rem;
    padding: 10px;
    color: #ffffff;
    font-size: 14px;
}

.btn-primary{
	background-color: #337ab7;
	transition: background-color .3s ease-out;
}
.btn-primary:hover{
	background-color: #2e6da4;
	transition: background-color .3s ease-out;
}
.btn-success{
	background-color: #5cb85c;
	transition: background-color .3s ease-out;
}
.btn-success:hover{
	background-color: #4cae4c;
	transition: background-color .3s ease-out;
}
.btn-danger{
	background-color: #d9534f;
	transition: background-color .3s ease-out;
}
.btn-danger:hover{
	background-color: #d43f3a;
	transition: background-color .3s ease-out;
}


.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: #a94442;
}

/**
 * Bootstrap navbar
 */

  .navbar-fixed-top .container ul.navbar-nav > li > a {
    border: none;
    color: inherit;
    text-decoration: none;
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px; }
    .navbar-fixed-top .container ul.navbar-nav > li > a:hover {
      background: none; }
  .navbar-fixed-top .container ul.navbar-nav > li:hover > a {
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: rgba(219, 183, 128, 0.2); }
  .navbar-fixed-top .container .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1a1a1a;
    overflow-x: hidden;
    transition: 0.5s; }
    .navbar-fixed-top .container .sidenav a {
      padding: 8px 8px 8px 16px;
      text-decoration: none;
      display: block;
	  color: #ffad33;
	  text-transform: uppercase;
      transition: 0.3s;
      border-bottom: 0px;
      white-space: nowrap; }
      .navbar-fixed-top .container .sidenav a:hover{
		color: white;
		background-color: #4c9689;
		}
	  .navbar-fixed-top .container .sidenav ul li a {
		color: #999;
		padding-left:32px;
		text-transform: initial; 
		}
		
        .active  {
            background: #993300;
            color: white !important;
        }
        :focus {outline:none !important;}


		
    .navbar-fixed-top .container .sidenav h2{
		color:white;
		margin-left:10px;
		display: block;
		border-bottom: 0px;
		white-space: nowrap; }
		
    .navbar-fixed-top .container .sidenav p{
		color:grey;
		margin-left:10px;
		display: block;
		border-bottom: 0px;
		white-space: nowrap; }
		
		
  .navbar-fixed-top .container .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
	color: #999;
	}
	.navbar-fixed-top .container .sidenav .closebtn:hover {
	color:white;
	background-color:transparent;
	}
	
	#menu-bar{
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0px 6px 20px;
    }
    #menu-container{
        cursor:pointer;
		padding-top: 7px;
		background-color: #005596;
		transition: background-color .3s ease-out;
		height:53px;
		width: 75px;
    }
	#menu-container:hover{
        background-color: #0065b3;
		transition: background-color .3s ease-out;
    }
    .input-box_text{
        max-width:calc(100% - 150px);
        margin-right: 5px;
    }
